@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    color: white;
    background: #222;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    background: linear-gradient(to right, #9f75ff, #61b2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientMove 3s linear infinite;
    background-size: 200% 200%;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    background: linear-gradient(to right, #9f75ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientMove 3s linear infinite;
    background-size: 200% 200%;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}